@import './_header.css';
@import './_avatar.css';
@import './_archives.css';
@import './_footer.css';

.sidebar {
  width: 300px;
  position: fixed;

  background: url('../bg.jpg');
  background-size: cover;
  background-position: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.6rem;
    flex-grow: 1;

    &--unwrapped {
      padding-left: 0px;
      padding-right: 0px;
    }

    &--last {
      flex-grow: 1.5;
    }
  }

  &__item-title {
    font-size: 2.8rem;
    padding-bottom: 10px;
  }

}
