<% if (post.bg) { %>
<div class="article-gallery">
  <div class="article-gallery-photos">
    <div class="article-gallery-img">
      <img src="<%- url_for(post.bg) %>" itemprop="image">
    </div>
  </div>
</div>
<% } %>

