@import './_partials/_sidebar.css';
@import './_partials/_posts.css';

html, 
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__sidebar {
    min-width: 300px;
    max-width: 400px;
    height: 100%;
  }

  &__main-content {

  }
}
