@import './_partials/_sidebar.css';

html, 
body {
    height: 100%;
}

body {
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__sidebar {
    width: 33%;
    max-width: 400px;
    height: 100%;
  }

  &__main-content {
  }
}
