<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout skeleton</title>
  <link rel="stylesheet" href="main.css"/>
</head>
<body>
  <div id="container">
    <div id="container__sidebar">
      <div class="sidebar">
        <div id="header" class="sidebar__item">
          <div id="header__title">sztobar.net</div>
        </div>
        <div id="avatar" class="sidebar__item sidebar__item--unwrapped">
          <div id="avatar__content">
            <img id="avatar__img" src="av.jpg"/>
          </div>
        </div>
        <div id="about" class="sidebar__item">
          <div id="about__title" class="sidebar__item-title">About me</div>
          <div id="about__content">Tralala</div>
        </div>
        <div id="archives" class="sidebar__item">
          <div id="archives__title" class="sidebar__item-title">Archives</div>
          <div id="archives__content">
            <div class="archive-group">
              <div class="archive-group__item">
                <div class="archive-group__title">
                  <div class="archive-group__year">2016:</div>
                </div>
                <div class="archive-group__posts">
                  <div class="archive-group__month">June (16)</div> &bullet;
                  <div class="archive-group__month">May (1)</div> &bullet;
                  <div class="archive-group__month">April (3)</div> &bullet;
                  <div class="archive-group__month">March (6)</div> &bullet;
                  <div class="archive-group__month">February (9)</div> &bullet;
                  <div class="archive-group__month">January (12)</div>
                </div>
              </div>
              <div class="archive-group__item">
                <div class="archive-group__title">
                  <div class="archive-group__year">2015:</div>
                </div>
                <div class="archive-group__posts">
                  <div class="archive-group__month">June (16)</div> &bullet;
                  <div class="archive-group__month">May (1)</div> &bullet;
                  <div class="archive-group__month">April (3)</div> &bullet;
                  <div class="archive-group__month">March (6)</div> &bullet;
                  <div class="archive-group__month">February (9)</div> &bullet;
                  <div class="archive-group__month">January (12)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tags" class="sidebar__item">
          <div id="tags__title" class="sidebar__item-title">Tags</div>
          <div id="tags__content">Tag 1 &bullet; Tag 2 &bullet; Tag 3 &bullet;</div>
        </div>
        <div id="footer" class="sidebar__item sidebar__item--last sidebar__item--unwrapped">
          <div id="footer__content">
            @2016 Bartosz Szewczyk & Paulina Oparcik
          </div>
        </div>
      </div>
    </div>
    <div id="container__main-content">
      <div id="main-content">
        <div class="posts">
          <div class="posts__item posts__item--first">
            <div class="posts__item-wrapper">
              <div class="posts__bg">
                <img class="posts__img" src="assets\dsp-blog-featured2.png"/>
                <div class="posts__title posts__title--bg">"Tytuł #1"</div>
              </div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__item-wrapper">
              <div class="posts__title">"Tytuł #1"</div>
              <div class="posts__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dignissim finibus. Sed nisi nulla, fringilla in diam ac, fringilla sollicitudin sapien. Aenean lacus magna, efficitur pulvinar arcu eget, egestas iaculis dui. Sed tempus sem odio, sit amet convallis mi maximus a. Sed pulvinar ultrices dolor, quis luctus ex maximus ac. Nam ipsum neque, bibendum a sagittis quis, consequat in ante. Donec dapibus eros ac porta aliquam. Sed gravida viverra urna, nec efficitur lectus viverra et. Integer quis semper ante. Nunc quis rutrum neque. Nunc nec sagittis odio. Fusce finibus in velit sed pharetra.
                Fusce imperdiet turpis quis egestas ultrices. Duis tortor odio, dapibus non laoreet ut, porta sed massa. Fusce dignissim nisl non turpis consectetur rutrum. Aliquam tellus lacus, hendrerit id quam in, semper tristique nibh. Praesent hendrerit convallis libero vitae eleifend. Ut vestibulum pulvinar leo sit amet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus elit, tempus vel eleifend faucibus, sodales et nisl. Duis et enim dignissim mi dignissim accumsan. Mauris mollis sapien ac risus iaculis sollicitudin. Sed faucibus est nec lacus ornare tempor. Morbi facilisis nec enim at sagittis. Aliquam libero massa, elementum in metus id, porta tempus orci. Aenean pellentesque pharetra nunc, in iaculis massa ornare quis. Quisque ultricies justo vel tempus hendrerit. Morbi porttitor tempus elit, a maximus lacus dapibus id.
              </div>
              <div class="posts__after"></div>
              <div class="posts__button">
                Czytaj...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
