<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout skeleton</title>
  <link rel="stylesheet" href="main.css"/>
</head>
<body>
  <div id="container">
    <div id="container__sidebar">
      <div class="sidebar">
        <div id="header" class="sidebar__item">
          <div id="header__title">Bartosz Szewczyk</div>
        </div>
        <div id="avatar" class="sidebar__item sidebar__item--unwrapped">
          <div id="avatar__content">
            <img id="avatar__img" src="av.jpg"/>
          </div>
        </div>
        <div id="about" class="sidebar__item">
          <div id="about__title" class="sidebar__item-title">About me</div>
          <div id="about__content">Tralala</div>
        </div>
        <div id="archives" class="sidebar__item">
          <div id="archives__title" class="sidebar__item-title">Archives:</div>
          <div id="archives__content">
            <div class="archive-group">
              <div class="archive-group__item">
                <div class="archive-group__title">
                  <div class="archive-group__year">2016:</div>
                </div>
                <div class="archive-group__posts">
                  <div class="archive-group__month">June (16)</div> &bullet;
                  <div class="archive-group__month">May (1)</div> &bullet;
                  <div class="archive-group__month">April (3)</div> &bullet;
                  <div class="archive-group__month">March (6)</div> &bullet;
                  <div class="archive-group__month">February (9)</div> &bullet;
                  <div class="archive-group__month">January (12)</div>
                </div>
              </div>
              <div class="archive-group__item">
                <div class="archive-group__title">
                  <div class="archive-group__year">2015:</div>
                </div>
                <div class="archive-group__posts">
                  <div class="archive-group__month">June (16)</div> &bullet;
                  <div class="archive-group__month">May (1)</div> &bullet;
                  <div class="archive-group__month">April (3)</div> &bullet;
                  <div class="archive-group__month">March (6)</div> &bullet;
                  <div class="archive-group__month">February (9)</div> &bullet;
                  <div class="archive-group__month">January (12)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tags" class="sidebar__item">
          <div id="tags__title" class="sidebar__item-title">Tags:</div>
          <div id="tags__content">Tag 1 &bullet; Tag 2 &bullet; Tag 3 &bullet;</div>
        </div>
        <div id="footer" class="sidebar__item sidebar__item--last sidebar__item--unwrapped">
          <div id="footer__content">
            @2016 Bartosz Szewczyk & Paulina Oparcik
          </div>
        </div>
      </div>
    </div>
    <div id="container__main-content">
      <div id="main-content">
        <div class="archive-posts">
          <div class="archive-post">
            <div class="archive-post__title">"Tytuł #1"</div>
            <div class="archive-post__content">Lorem ipsum</div>
          </div>
          <div class="archive-post">
            <div class="archive-post__title">"Tytuł #1"</div>
            <div class="archive-post__content">Lorem ipsum</div>
          </div>
          <div class="archive-post">
            <div class="archive-post__title">"Tytuł #1"</div>
            <div class="archive-post__content">Lorem ipsum</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
