#header {
  padding-top: 10%;
}
#header__title {
  font-size: 57px;
  font-size: 3.6rem;
}
#avatar__content {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#avatar__content:before,
    #avatar__content:after {
  color: white;
  content: '';
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: white 4px solid;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}
#avatar__img {
  width: 100px;
  height: 100px;
  border: 2px white solid;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 75px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}
.archive-group__item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.archive-group__posts {
  font-weight: bold;
}
.archive-group__year{
  font-weight: bold;
}
.archive-group__month {
  display: inline;
  font-weight: normal;
}
#archives {
}
#footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#footer__content {
  font-size: 25px;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 10px;
}
.sidebar {
  width: 300px;
  position: fixed;

  background: url('bg.jpg');
  background-size: cover;
  background-position: right;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);

}
.sidebar__item {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 25px;
  font-size: 1.6rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.sidebar__item--unwrapped {
  padding-left: 0px;
  padding-right: 0px;
}
.sidebar__item--last {
  -webkit-box-flex: 1.5;
  -webkit-flex-grow: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}
.sidebar__item-title {
  font-size: 44px;
  font-size: 2.8rem;
  padding-bottom: 10px;
}
.posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;

}
.posts__item {
  width: 50%;
  padding: 48px;
  padding: 3rem;
  box-sizing: border-box;
  height: 50vh;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.posts__item--first {
  width: 100%;
}
.posts__item:hover .posts__after {
  height: 1600px;
  height: 100rem;
  -webkit-transition: height 0.25s ease-in;
          transition: height 0.25s ease-in;
}
.posts__item:hover .posts__button {
  opacity: 1.0;
  bottom: 25%;
  box-shadow: 0px 0px 20px black;
  -webkit-transition:
          opacity 0.25s ease-in,
          bottom 0.25s ease-in,
          box-shadow 0.35s ease-in;
          transition:
          opacity 0.25s ease-in,
          bottom 0.25s ease-in,
          box-shadow 0.35s ease-in;
}
.posts__after {
  height: 80px;
  height: 5rem;
  position: absolute;
  width: 100%;
  bottom: 48px;
  bottom: 3rem;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+0,1+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 255, 255, 1)', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
.posts__item-wrapper {
  overflow: hidden;
  height: 100%;
}
.posts__title {
  font-size: 57px;
  font-size: 3.6rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
.posts__title--bg {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  margin-bottom: 0;
}
.posts__content {
  font-size: 25px;
  font-size: 1.6rem;
}
.posts__bg {
  position: relative;
  width: 100%;
}
.posts__img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 150px;
  margin: 0 auto;
  display: block;
}
.posts__button {
  opacity: 0;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 57px;
  font-size: 3.6rem;
  border: 1px black solid;
  padding: 7px;
  box-shadow: 0px 0px 0px black;
  background-color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  cursor: pointer;
}
html, 
body {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0px;
}
#container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}
#container__sidebar {
  min-width: 300px;
  max-width: 400px;
  height: 100%;
}
#container__main-content {
}
