#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      //text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget__image
  text-align: center
  > img
    border-radius: 50px
    border: 1px solid black
    height: 100px
    width: 100px

.about
  &__contacts
    display: block
    text-align: center
    word-spacing: 10px

  &__contact
    display: inline-block
    font-family: FontAwesome
    text-align: center
    font-size: 14px
    width: 14px
    height: 14px
    cursor: pointer

#twitter-link::after
  content: '\f081'

#github-link::after
  content: '\f113'
